*{
	color: white;
	margin: auto;
	text-align: center;
	font-family:Noto Serif JP;
}

a:hover{
    color: #ff0000;
    border: solid 2px;
    background-color: white;
}


header{
	background-color: #ce2222;
	height: 57px;
	display: flex;
}


.rogo{
	margin-left: 0;	
	height: 54px;
}

.rogo img{
	width: 128px;
	height: 44px;
	padding: 5px;
}


.nav-drawer {
  position: relative;
  margin-right: 0;
}

/*チェックボックスは非表示*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 40px;
  height: 22px;
  vertical-align: middle;
}

#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 30px;/*長さ*/
  border-radius: 3px;
  background: black;
  display: block;
  content: '';
  cursor: pointer;
}

#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;

  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;/*最前面*/
  width: 60%;
  background: #ce2222;
  transition: .3s ease-in-out;/*表示*/
  -webkit-transform: translateY(-120%);
  transform: translateY(-120%);/*左に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（左へスライド）*/
  z-index: 9998;
}


.nav-content{
  margin:auto;
}



.header-title{
	background-color: black;
	font-size: 10px;
	width: 100px;
	margin: -14px auto 0;
}

/*ヘダー部分　tel＆住所*/
.header-shop{
	margin: 5px auto;
	padding: 5px;
	background-color: black;
}

/*ヘッダー電話番号*/
.header-tel{
	font-size: 24px;
	font-family:Crimson Text;
}

/*ヘッダーアドレス*/
.header-add{
	font-size: 11px;
	margin-bottom: 10px;
}

#gnav-ul{
	list-style: none;
	padding: 0;
}

#gnav-ul li{
	margin: 5px 10px;
	font-size: 15px;
}

#gnav-ul li a{
	font-family:Crimson Text;
	text-decoration: none;	
	padding: 3px;
}

/*ハンバーガーナビ×*/
.cancel {
  display: inline-block;
  position: relative;
  margin: 11px 15px 0 180px;
  padding: 0;
  width: 3px;
  height: 34px;
  background: black;
  transform: rotate(45deg);
  z-index: 99
}
.cancel:before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: -16px;
  width: 36px;
  height: 3px;
  margin-top: -2px;
  background: black;
}
.category {
  background-color: #fedbf1;
  padding: 15px 0;
  font-size: 23px;
  color: #ff69b4;
  font-weight: bold;
}


/*　↑　ここまでヘッダー/*/



.access-title{
	margin: 32px auto 15px; 
}

.access-title img{
	width: 150px;
	height: 104px;
}

.access-title p{
	font-size: 30px;
	color: black;
	margin: 0 auto 32px;
}


/*外観写真からＭＡＰまでくくり*/
.shop{
	background:repeating-linear-gradient(-40deg, #1f1b1b 0,  #1f1b1b 7px, #2a2b2d 7px, #2a2b2d 14px);
}



/*外観フレーム*/
.gaikan{
	margin:37px auto 17px;
	background-color: white;
	width: 96%;
	height: 230px;
}


/*外観写真*/
.gaikan-img{
	margin: 8px auto;
	width:96%;
}

.ship-img{
	width: 50%;
	height: 50%;
	position: relative;
	bottom: -112%;
    right: -24%;
}


/*お店詳細情報くくりＢＯＸ*/
.info{
	width: 380px;
	margin: 17px auto 32px;
}



/*電話くくりＢＯＸ*/
.tel{
	border-top:solid 3px white;
	border-bottom: solid 3px white;
	padding: 6px 0;
}

/*電話タイトル*/
.tel1{
	font-size: 15px;
	margin: auto 15px auto  0;
}

/*電話番号*/
.tel2{
	font-size: 30px;
	font-family:Crimson Text;
}


/*住所*/
.adress {
	margin: 5px auto 19px;
}



/*営業時間見出し*/
.hour1{
	font-size: 17px;
	border-style: solid 1px white;
	background-color: white;
	width: 100px;
	color: black;
	margin: 5px auto;
}

/*昼の７営業時間*/
.hour2{
	font-size: 15px;
}

/*夜の営業時間*/
.hour3{
	font-size: 15px;
}

/*定休日くくりＢＯＸ*/
.rest{
	margin: 19px 0;
}

/*定休日見出し*/
.rest1{
	font-size: 17px;
	border-style: solid 1px white;
	background-color: white;
	width: 100px;
	color: black;
	margin: 5px auto;
}	

/*定休日詳細*/
.rest2{
	font-size: 15px;
}	

/*アクセスくくりＢＯＸ*/
.root{
 margin: 0 0 32px;
}

/*アクセス見出し*/
.root1{
	margin: 5px auto;
	font-size: 17px;
	border-style: solid 1px white;
	background-color: white;
	width: 100px;
	color: black;
}

/*アクセス詳細　駅*/
.root2{
	font-size: 16px;
 	z-index: 2;
}


.map{
	display: inline-block;
	width: 96%;
	height: 225px;
	margin-bottom: 11px;
	overflow: hidden;
}


/*一番下空白部分*/
.blank{
	height: 74px;
	background-color: white;	
}


footer{
	background-color: #1d1b1b;
	color:  white;
	padding-top: 15px;
}


.footer-icon{
	margin-bottom: 	24px;
}

.footer-icon ul{
	padding: 0;
}


.footer-icon li{
	display: inline-block;
	list-style: none;
	margin: 0 5px;
}

.footer-link{
	margin-bottom: 24px;
}

.footer-link1{
	list-style: none;
	padding: 0;
}

.footer-link1 li{
	font-size: 20px;
	margin-bottom: 18px;
}

.footer-link1 a{
	font-family: sans-serif;
}

footer p{
	font-size:14px; 
	font-family: sans-serif;
	word-wrap: break-word;
}