*{
	color: white;
	margin: 0;
	text-align: center;
	font-family:Noto Serif JP;
}
a:hover{
    color: #dad0d0;

}
header{
	background-color: #ce2222;
	display: flex;
	justify-content: center;
	width: auto;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 99;
}
/*チェックボックスは非表示*/
.nav-unshown {
  display:none;
}
.rogo{
	margin: 5px;
}
.rogo img{
	height: 73px;
	width: 215px;
}
#nav-content{
	display: flex;
	padding-bottom: 2px;
}
.header-title{
	background-color: black;
	font-size: 10px;
	height: auto;
	width: 60px;
	margin: auto 0;
	text-align: center;
}
/*ヘダー部分　tel＆住所*/
.header-shop{
	margin: auto 5px;
}
/*ヘッダー電話番号*/
.header-tel{
	font-size: 24px;
	text-align: left;
	font-family:Crimson Text;
}
/*ヘッダーアドレス*/
.header-add{
	font-size: 11px;
	text-align: left;
}

.global-nav{
	display: flex;
}
#gnav-container{
	width: 590px;
	margin: 60px 0 0 25px;
}
/*ヘッダーメニュー*/
#gnav-ul{
	list-style: none;
	display: flex;
}
#gnav-ul li{
	margin: 0 10px;
	font-size: 15px;
}
#gnav-ul li a{
	font-family:Crimson Text;
	text-decoration: none;	
	padding: 3px;
}
/*　↑　ここまでヘッダー/*/
/*タイトルアクセス画像 　サイズ指定217×317ですが、画像100％にしてます*/
.access-title{
	margin: 75px auto 60px; 
	margin-top: 130px;
}
.access-title p{
	font-size: 43px;
	color: black;
	margin: 10px 0 0;
}
/*外観写真からＭＡＰまでくくり*/
.shop{
	background:repeating-linear-gradient(-40deg, #1f1b1b 0,  #1f1b1b 7px, #2a2b2d 7px, #2a2b2d 14px);
}
/*外観フレーム*/
.gaikan{
	margin:37px auto;
	background-color: white;
	width: 475px;
	height: 300px;
}
/*外観写真*/
.gaikan-img{
	margin: 11px;
	width:453px;
	height:282px;
}
.ship-img{
	width: 50%;
	height: 50%;
	position: relative;
	top: -130px;
	left: 360px;
}
/*電話からＭＡＰくくりＢＯＸ*/
section{
	display: flex;
	justify-content: center;
}
/*お店詳細情報くくりＢＯＸ*/
.info{
	width: 380px;
	margin: -20px 11px 0 0;
}
/*電話くくりＢＯＸ*/
.tel{
	border-top:solid 3px white;
	border-bottom: solid 3px white;
	padding: 6px 0;
	display: flex;
}
/*電話タイトル*/
.tel1{
	font-size: 15px;
	margin: auto 15px auto  0;
}
/*電話番号*/
.tel2{
	font-size: 30px;
	font-family:Crimson Text;
}
/*住所*/
.adress {
	margin: 12px 0 23px 0;
	text-align: left;
}
/*ＯＰＮＥ詳細くくりＢＯＸ*/
.time{
	display: flex;
}
/*営業時間くくりＢＯＸ*/
.hour{
	vertical-align: top;
	text-align: left;
	margin: 0 20px 0 0;
}
/*営業時間見出し*/
.hour1{
	font-size: 17px;
	border-style: solid 1px white;
	background-color: white;
	width: 100px;
	text-align: center;
	color: black;
}
/*昼の７営業時間*/
.hour2{
	font-size: 15px;
	margin: 16px 0 0 0;
}

/*夜の営業時間*/
.hour3{
	font-size: 15px;
	margin: 0;
}
/*定休日くくりＢＯＸ*/
.rest{
	vertical-align: top;
	text-align: left;
	margin: 0 0 0 20px;
}
/*定休日見出し*/
.rest1{
	font-size: 17px;
	border-style: solid 1px white;
	background-color: white;
	width: 100px;
	text-align: center;
	color: black;
	margin: 0;
}	
/*定休日詳細*/
.rest2{
	font-size: 15px;
	margin: 16px 0 0 0;
}	
/*アクセスくくりＢＯＸ*/
.root{
 margin: 32px 0 0;
 text-align: left;
}
/*アクセス見出し*/
.root1{
	margin: 0 0 16px 0;
	font-size: 17px;
	border-style: solid 1px white;
	background-color: white;
	width: 100px;
	text-align: center;
	color: black;
}
/*アクセス詳細　駅*/
.root2{
	font-size: 16px;
 	text-align: left;	
}
.map{
	display: inline-block;
	width: 500px;
	height: 373px;
	margin: 0 0 50px 11px;
}
/*一番下空白部分*/
.blank{
	height: 150px;
	background-color: white;	
}
footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 90px;
	background-color: #1d1b1b;
	font-size: 20px;
	color:  white;
	display: flex;
	justify-content: center;
}
.footer-icon{
	width: 350px;
	margin: 23px 48px;
}
.footer-icon li{
	display: inline-block;
	margin: 0 5px;
}
.footer-icon img{
	vertical-align: bottom;
}
.footer-link{
	width: 450px;
	margin: 23px 0;
}
.footer-link1{
	display: flex;
	list-style: none;
	padding: 0;
}
.footer-link1 li{
	font-size: 20px;
	margin: 0 12px;
}
.footer-link1 a{
	font-family: sans-serif;
}
footer p{
	font-size:14px; 
	font-family: sans-serif;
}